@import "tailwindcss";

@font-face {
	font-family: 'EnchantedLand';
	src: url('/fonts/enchanted_land/Enchanted Land.otf') format('opentype');
}

@theme {
	--font-enchanted-land: 'EnchantedLand';
}

body {
	font-family: 'EnchantedLand', sans-serif;
	font-size: 18px;
}

.btn {
	font-size: 20px;
  border-radius: 7px;
  box-shadow: 3px 7px 0px #fff;
  display: inline-block;
  transition: all .2s;
  position: relative;
  padding: 12px 20px;
  position: relative;
	border: white solid 1px;
  top: 0;
	color: #fff;
  cursor: pointer;
  margin: 10px;
}

@media (min-width: 640px) {
	.btn {
		font-size: 24px;
		padding: 15px 25px;
		margin: 0 20px;
	}
}

.btn:active {
  top: 3px;
  box-shadow: 0 2px 0px #3f51b5;
  transition: all .2s;
}
